{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <!-- Earnings (전일 방문객) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4 " >
            <div class="card border-left-primary shadow h-auto py-0 align-items-center">
                <div class="font-weight-bold text-center pt-4">
                    {{plot_div1|safe}}
                </div>

            </div>
        </div>
        <!-- Earnings (지난달 총 방문객) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-auto py-0 align-items-center">
                <div class="font-weight-bold text-center pt-4">
                    {{plot_div2|safe}}
                </div>
            </div>
        </div>
        <!-- Earnings (체류 시간) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-auto py-0 align-items-center">
                <div class="font-weight-bold text-center pt-4">
                    {{plot_div3|safe}}
                </div>
            </div>
        </div>
        <!-- 어제 재방문객 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-auto py-0 align-items-center">
                <div class="font-weight-bold text-center pt-4">
                    {{plot_div4|safe}}
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <!-- 지역별 방문객 -->
        <div class="col-xl-6 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">지역별 방문객</h6>
                </div>
                <div>
                    {{plot_div5|safe}}
                </div>

            </div>
        </div>
        <!-- 실시간 방문객 비율 -->
        <div class="col-xl-6 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">실시간 방문객 비율</h6>
                </div>
                <div class="card-body">
                    {{plot_div7|safe}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <!-- 지난주 재방문객 -->
        <div class="col-xl-6 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">지난주 재방문객</h6>
                </div>
                <div class="card-body">
                    {{plot_div8|safe}}
                </div>
            </div>
        </div>
        <!-- 요일별 방문객 -->
        <div class="col-xl-6 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">요일별 방문객</h6>
                </div>
                <div class="card-body">
                    {{plot_div6|safe}}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
